.topNavUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff0000;
}

.topNav {
    float: left;
    display: inline;
}
.topNav a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 120px;
    text-decoration: none;
    font-size: 20px;
}
.topNav a:hover {
    background-color: #C50000;
}

h1 {
  color: white;
text-align: center;
font-size: 50px;
background-color: #ff0000;
overflow: hidden;
}

#images1 {
  height: 100px;
  width: 100px;
}

body {
    background-image: linear-gradient(white, red);
}
